.nav-extended{
    background-color: #cc5500;
    
}

.card {
    background-color: #cc5500;
    text-align: center;
    color: white;
}

#test1 {
    margin-top: 20px;
}

#page{
    background: url(https://github.com/StarkWebTest/StarkWebTest.github.io/blob/master/images/wallup-24143.png?raw=true) 50% fixed;
}

.collapsible-body {
    background-color: white;
}