<div class='content' [class.active]='isContentActive' id='content'>
    <div class='container-fluid'>
        <p class="title-text"> <b>{{ title }}</b> </p>
        <div class="company-section" *ngFor="let company of experience">
            <img style="height: 75px;" src="{{ company.logo }}">
            <h1><b>{{ company.name }}</b></h1>
            <p class='company-position'>{{ company.position }}</p>
            <div class="project-section" *ngFor='let project of company.projects'>
                <p class="project-title"><b>{{ project.title }}</b></p>
                <div class="project-details" *ngIf="project.image != ''">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="project-image">
                                <img style="height: 275px; 
                                                                border-radius: 30px; 
                                                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);"
                                    src="{{ project.image }}">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="project-desc">
                                <ul>
                                    <li>{{ project.desc1 }}</li>
                                    <li>{{ project.desc2 }}</li>
                                    <li>{{ project.language }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-desc" *ngIf="project.image == ''">
                    <div class="col-lg-12">
                        <li>{{ project.desc1 }}</li>
                        <li>{{ project.desc2 }}</li>
                        <li>{{ project.language }}</li>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>