.view {
    background-color: #00bcd4;
    height: 100vh;
    padding-top: 10%;
}

mat-toolbar {
    z-index: 99999;
    background-color: #FFF;
}

.mat-tab-body {
    z-index: 1;
}

.tab-view {
    background-color: #00bcd4;
    height: calc(100vh - 112px);
}

.mat-card {
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

.error {
    color: #b71c1c;
}

.loading {
    margin: auto;
}

.mat-input-element {
    caret-color: #00bcd4;
}




