.view {
    background-color: #00bcd4;
    height: 100vh;
    padding-top: 10%;
}

.mat-card {
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

.login, .create {
    text-align: center;
    width: 80%;
    margin: auto;
}

.error {
    color: #b71c1c;
}

.loading {
    margin: auto;
}

.mat-input-element {
    caret-color: #00bcd4;
}




