<div class="container-fluid">
    <h3 class="page-title">DashBoard</h3>
    <hr>
    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#WatchList"><span><i class="fa fa-eye" aria-hidden="true"></i> Watch List <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse" id="WatchList">
            <table class="table">
                <thead>
                    <tr valign="middle" halign="middle">
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>As Of</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>

            <div class="jumbotron jumbotron-action">
                <ul class="nav">
                    <li>
                        <a><span class="action">Edit Watch List</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#Alerts"><span><i class="fa fa-envelope" aria-hidden="true"></i> Alerts (Active) <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse" id="Alerts">
            <div class="col-xs-3">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
                <h3>0 Alerts</h3>
            </div>
        </div>
    </div>

</div>

<style>
    .jumbotron-title {
        text-align: center;
        background-color: #cc5500;
        color: white;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .jumbotron-body {
        text-align: center;
        background-color: white;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .jumbotron-action {
        text-align: center;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container-fluid .jumbotron-title,
    .container-fluid .jumbotron-body,
    .container-fluid .jumbotron-action {
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .jumbotron .nav>li>a {
        cursor: pointer;
        color: white;
    }

    #Alerts {
        background-color: #F44336;
    }
</style>