<div class="container-fluid">
    <h3>DashBoard</h3>
    <hr>
    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#WatchList"><span><i class="fa fa-eye" aria-hidden="true"></i> Watch List <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse" id="WatchList">
            Testing
        </div>
    </div>

    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a><span><i class="fa fa-envelope" aria-hidden="true"></i> Alerts (Active) <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
    </div>

</div>

<style>
    .jumbotron-title {
        text-align: center;
        background-color: #cc5500;
        color: white;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .jumbotron-body {
        text-align: center;
        background-color: white;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 50px;
        
    }

    .container-fluid .jumbotron-title,
    .container-fluid .jumbotron-body {
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .jumbotron .nav>li>a {
        cursor: pointer;
        color: white;
    }
</style>