<div class="container-fluid">
    <h3 class="page-title">DashBoard</h3>
    <hr>
    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#WatchList"><span><i class="fa fa-eye" aria-hidden="true"></i> Watch List <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse in" id="WatchList" >
            <table class="table">
                <thead>
                    <tr valign="middle" halign="middle">
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>As Of</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>

            <div class="jumbotron jumbotron-action">
                <ul class="nav">
                    <li>
                        <a><span class="action">Edit Watch List</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#Alerts"><span><i class="fa fa-envelope" aria-hidden="true"></i> Alerts (Active) <i class="fa fa-angle-down" aria-hidden="true"></i><span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse in" id="Alerts" style="background-color: #F44336; color: white; padding: 5px;">
            <i class="fa fa-envelope" aria-hidden="true" style="font-size: 28px;"></i>
            <h3>0 Alerts</h3>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#Status"><span><i class="fa fa-signal" aria-hidden="true"></i> Device Status (Last 24 Hours) <i class="fa fa-angle-down" aria-hidden="true"></i> </span></a>
                </li>
            </ul>
        </div>
        <div class="jumbotron-body collapse in" id="Status" style="background-color: #2196F3; color: white; padding: 5px;">
            <i class="fa fa-signal" aria-hidden="true" style="font-size: 28px;"></i>
            <h3>42 Active Devices</h3>
            <h3>3 Inactive Devices</h3>
        </div>
    </div>

    
</div>
<div class="col-lg-offset-1 col-lg-10" style="margin-top: 30px;">
    <div id="map-container" class="z-depth-1" style="height: 300px"></div>
    
</div>

<script src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28598.079605308707!2d-80.1261092!3d26.3666251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1499641588134"></script>
<script>
   function init_map() {
    
    var var_location = new google.maps.LatLng(40.725118, -73.997699);

    var var_mapoptions = {
        center: var_location,
    
        zoom: 14
    };

    var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "New York"
    });

    var var_map = new google.maps.Map(document.getElementById("map-container"),
        var_mapoptions);

    var_marker.setMap(var_map);

    }

    google.maps.event.addDomListener(window, 'load', init_map);
</script>
