<div class="container-fluid">
    <h3 class="page-title">Device Data</h3>
    <hr>
    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#Configuration">
                        <span>
                            <i class="fa fa-cog" aria-hidden="true"></i> Configuration <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="jumbotron jumbotron-body" id="Configuration">
            Testing
        </div>

        <div class="jumbotron jumbotron-title" style="margin-top: 20px;">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#DataSelection">
                        <span>
                            <i class="fa fa-list-ul" aria-hidden="true"></i> Data Selection <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="jumbotron jumbotron-body uncollapsed" id="DataSelection">
            <ul class="nav">
                <li>
                    <a>
                        Temperature
                    </a>
                </li>
                <li>
                    <a>
                        Humitdity
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-lg-8">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#deviceMap">
                        <span>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Temperature
                        </span>  
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .jumbotron-body .nav>li>a {
        cursor: pointer;
        color: #cc5500;
    }
</style>