<div class="container-fluid">
    <h3 class="page-title">Device Data</h3>
    <hr>
    <div class="col-lg-4">
        <div class="jumbotron jumbotron-title">
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" data-target="#Configuration"><span><i class="fa fa-cog" aria-hidden="true"></i> Configuration <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </li>
            </ul>
        </div>

        <div class="jumbotron jumbotron-body collapse" id="Configuration">
            Testing 
        </div>
    </div>
</div>