<div class="content" [class.active]='isContentActive' id="content">
    <div class="top-bar">
        <i (click)="toggleSidebar()" id="collapse-btn" class="fas fa-bars"></i>

        <i (click)='modernView()' id="modern-view-btn" [class.active]='isModernViewActive' class="fas fa-columns"></i>

        <i (click)='tableView()' id="table-view-btn" [class.active]='isTableViewActive' class="fas fa-table"></i>
    
        <i (click)='addNewView()' id="add-new-btn" [class.active]='isAddNewViewActive' class="fas fa-plus"></i>
    </div>

    <div class="content-main">
        <modern-view *ngIf="view == 'modern'"></modern-view>
        <table-view *ngIf="view == 'table'"></table-view>
        <add-new *ngIf="view == 'addNew'"></add-new>
    </div>

</div>