.content {
    height: 100vh;
    width: calc(100% - 250px);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1s;
}

#content.active {
    width: 100%;
    transition: all 1s;
}

.top-bar {
    height: 65px;
    background-color: #FFF;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    width: 100%;
}

#collapse-btn {
    cursor: pointer;
    margin: 15px 20px;
    font-size: 30px;
    color: #000;
}

#modern-view-btn, #table-view-btn, #add-new-btn {
    cursor: pointer;
    margin: 15px 15px;
    font-size: 30px;
}

#modern-view-btn.active, #table-view-btn.active, #add-new-btn.active {
    /* color: #00ACC1 !important; */
    color: #0D47A1;
}

.content-main {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 1;
    right: 1;
}

.flights {
    display: flex;
    padding: 10px;
    width: 300px;
}

