<div class="sidebar" [class.active]='isSidebarActive' id='sidebar'>
    <div class="sidebar-header">
        <a (click)='toggleSidebar()'>
            <i id="collapseBtn" class="fas fa-bars"></i>
        </a>
        <h1 id="header" class='sidebar-section' [class.active]='isSidebarHeaderActive'> {{ name }} </h1>
    </div>
    <div class="sidebar-content" [class.active]='isSidebarContentActive' id = 'sidebar-content'>
        <br>
        <section id="education" class='sidebar-section'>
            <h3 style="margin: 0" id="header-minor"><b>EDUCATION</b></h3>
            <br>
            <h4 style="margin: 0 0 10px 0" id="degree"><i>Bachelors of Science in <br> Software Engineering</i></h4>
            <h4 style="margin: 0" id="school">Embry-Riddle <br> Aeronautical University</h4>        
        </section>
        <br>
        <section id="websites" class='sidebar-section'>
            <h3 style="margin: 0;" id="header-minor"><b>WEBSITES</b></h3>
            <h5 style="margin: 5px;"><a target="_blank" href="http://Goo.gl/riuiTK">LinkedIn</a></h5>
            <h5 style="margin: 5px;"><a target="_blank" href="http://Goo.gl/riuiTK">Github</a></h5>
        </section>
        <br>
        <section id='software' class='sidebar-section'>
            <h3 style="margin: 0;" id="header-minor"><b>SOFTWARE</b></h3>
            <div *ngFor ="let name of softwares">
                <h5 style="margin: 5px 0 10px 0;" > {{ name.software }} </h5>
            </div>
            
        </section>
        <br>
        <section id='language' class='sidebar-section'>
            <h3 style='margin: 0;' id="header-minor"><b>LANGUAGES</b></h3>

            <div *ngFor='let name of languages'>
                <h5 style="margin: 5px 0 10px 0;" > {{ name.language }} </h5>
            </div >
        </section>
    </div>
</div>