/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../m-modified.css';

body {
    overflow: hidden;
    font-family: Roboto;
    background-color: #fafafa;
}

.mat-tab-header {
    border-bottom: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #00bcd4;
}

::-webkit-scrollbar {
    width: 4px;  /* rem[ove scrollbar space */
    border-radius: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    /* background-color: #00ACC1 !important; */
    border-radius: 0px;
    background-color: #00bcd4;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #00bcd4;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #00bcd4;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-edit {
    background-color: #00bcd4;
}
