<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" id="sidenav">
        <sidenav-view></sidenav-view>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            <p class="title">{{ title }}</p>
        </mat-toolbar>
        <mat-tab-group animationDuration="1000ms">
            <mat-tab label="Data View">
                <data-view></data-view>
            </mat-tab>
            <mat-tab label="Table View">
                <table-view></table-view>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
