#sidenav {
    width: 300px;
}

.mat-sidenav-container {
    height: 100vh;
}

.mat-icon {
    cursor: pointer;
    margin-left: -5px;
    margin-top: -15px;
    font-size: 35px;
    margin-right: 20px;
}

.mat-toolbar {
    background-color: #FFF;
}

.title {
    margin-top: -5px;
}

.mat-tab-group {
    background-color: #FFF;
}
