<div class="bg">

</div>
<div class="container-fluid">
    <div class="top-bar" [class.active]="isTopBarActive">
        <i id="menu" class="fas fa-bars" [class.active]='isContentActive' (click)="sidebar()"></i>
        <p id="name" style="opacity: 1;">{{ name }}</p>
    </div>

    <div class="sidebar" [class.active]="isSidebarActive">
        <div class="sidebar-content">
            <h3>Home</h3>
            <hr>
            <h3>Languages</h3>
            <hr>
            <h3>Software</h3>
            <hr>
            <h3>Experience</h3>
            <hr>
            <h3>Projects</h3>
        </div>
    </div>

    <div class="content" id="content" #content [class.active]='isContentActive'>
        <div class="education">
            <h2>Bachelors Of Science in Software Engineering</h2>
            <h3><i>Embry-Riddle Aeronuatical University</i></h3>
        </div>
        <div class="skills-lang" [class.active]='isContentActive'>
            <h2>Languge Skill Levels</h2>
            <hr>
            <div class="skill-item" *ngFor="let item of languages">
                <h3>{{ item.language }}</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="item.skill" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="skills-soft">
            <h2>Software Skill Levels</h2>
            <hr>
            <div class="skill-item" *ngFor="let item of softwares">
                <h3>{{ item.software }}</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="item.skill" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>


        <div class="experience">
            <h2>Work Experience</h2>
            <hr>
            <div class="work-item" *ngFor="let item of experience">
                <img class="img-fluid" style="height: 75px;" src="{{ item.logo }}">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.position }}</h4>
                <div class="project" *ngFor="let project of item.projects">
                    <h4>{{ project.title }}</h4>
                    <div class="row" *ngIf="project.image != ''">
                        <div class="col-lg-5">
                            <img class="img-fluid" style="height: 200px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);"
                                src="{{ project.image }}">
                        </div>
                        <div class="col-lg-7">
                            <br>
                            <h5><b>Description of Project</b></h5>
                            <h5>{{ project.desc1 }}</h5>
                            <br>
                            <h5>{{ project.desc2 }}</h5>
                            <br>
                            <h5>{{ project.language }}</h5>
                        </div>
                    </div>
                    <div class="row" *ngIf="project.image == ''">
                        <div class="col-lg-12">
                            <br>
                            <h5><b>Description of Project</b></h5>
                            <h5>{{ project.desc1 }}</h5>
                            <br>
                            <h5>{{ project.desc2 }}</h5>
                            <br>
                            <h5>{{ project.language }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="row">
        <div class="col-lg-4">
            <div class="information">
                <h1 style="font-size: 45px;"><b>{{ name }}</b></h1>
                <br>
                <h2>Bachelors Of Science in Software Engineering</h2>
                <h3><i>Embry-Riddle Aeronuatical University</i></h3>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-xs-6">
                        <h4><b>LANGUAGES / FRAMEWORKS</b></h4>
                        <h5 *ngFor="let item of languages">{{ item.language }}</h5>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-xs-6">
                        <br>
                        <h4><b>Software</b></h4>
                        <h5 *ngFor="let item of softwares">{{ item.software }}</h5>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-lg-8">
            <div class="experience">
                <div class="work" *ngFor="let item of experience">
                    <img class="img-fluid" style="height: 70px;" src="{{ item.logo }}">
                    <h2>{{ item.name }}</h2>
                    <h3>{{ item.position }}</h3>
                    <div class="project" *ngFor="let project of item.projects">
                        <h4>{{ project.title }}</h4>
                        <div class="row" *ngIf="project.image != ''">
                            <div class="col-lg-5">
                                <img class="img-fluid" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);"
                                    src="{{ project.image }}">
                            </div>
                            <div class="col-lg-7">
                                <br>
                                <h5>{{ project.desc1 }}</h5>
                                <br>
                                <h5>{{ project.desc2 }}</h5>
                                <br>
                                <h5>{{ project.language }}</h5>
                            </div>
                        </div>
                        <div class="row" *ngIf="project.image == ''">
                            <div class="col-lg-12">
                                <br>
                                <h5>{{ project.desc1 }}</h5>
                                <br>
                                <h5>{{ project.desc2 }}</h5>
                                <br>
                                <h5>{{ project.language }}</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
</div>