<div class="add-new">
    <div class="container-fluid">
        <!-- <h2><b>Add New Item To Your Logbook</b></h2>
        <hr> -->
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" [(ngModel)]="logItem.Date" >
                </div>
                <div class="form-group">
                    <h3>Departure</h3>
                    <label for="depPlace">Airport</label>
                    <input type="text" class="form-control" id="depAirport" placeholder="XXXX" [(ngModel)]="logItem.DepAirport">

                    <label for="depTime">Time</label>
                    <input type="time" class="form-control" id="depTime" placeholder="hh:mm:ss" [(ngModel)]="logItem.DepTime">
                </div>
                <div class="form-group">
                    <h3>Arrival</h3>
                    <label for="arvPlace">Airport</label>
                    <input type="text" class="form-control" id="arvAirport" placeholder="XXXX">

                    <label for="arvTime">Time</label>
                    <input type="time" class="form-control" id="arvtime" placeholder="hh:mm:ss">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <h3>Single Pilot Time</h3>
                    <label for="SEtime">SE</label>
                    <input type="time" class="form-control" id="SEtime">

                    <label for="MEtime">ME</label>
                    <input type="time" class="form-control" id="MEtime">
                </div>
                <div class="form-group">
                    <label for="MultiPilotTime">Multi Pilot Time</label>
                    <input type="time" class="form-control" id="MultiPilotTime">
                </div>
                <div class="form-group">
                    <label for="TotalTime">Total Flight Time</label>
                    <input type="time" class="form-control" id="TotalTime">
                </div>
                <div class="form-group">
                    <h3>Operational Condition Time</h3>
                    <label for="nightTime">Night</label>
                    <input type="time" class="form-control" id="nightTime">

                    <label for="ifrTime">IFR</label>
                    <input type="time" class="form-control" id="ifrTime">
                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <h3>Pilot Function Time</h3>
                    <label for="picTime">PIC</label>
                    <input type="time" class="form-control" id="picTime">

                    <label for="coPilotTime">Co-Pilot</label>
                    <input type="time" class="form-control" id="coPilotTime">

                    <label for="dualTime">Dual</label>
                    <input type="time" class="form-control" id="dualTime">

                    <label for="instrTime">Instr</label>
                    <input type="time" class="form-control" id="instrTime">
                </div>
                <div class="form-group">
                    <h3>FSTD Session</h3>
                    <label for="sessionType">Type</label>
                    <input type='text' class="form-control" id="sessionType" placeholder="XXXXXXXXX">
                    
                    <label for="sessionTime">Total Time</label>
                    <input type="time" class="form-control" id="sessionTime" placeholder="XXXXXXXXXX">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="picName">PIC Name</label>
                    <input type="text" class="form-control" id="picName" placeholder="XXXXXXX">
                </div>
                <div class="form-group">
                    <h3>Landings</h3>
                    <label for="dayLand">Day</label>
                    <input type="number" class="form-control" id="dayLand">

                    <label for="nightLand">Night</label>
                    <input type="number" class="form-control" id="nightLand">
                </div>
                <div class="form-group">
                    <h3>Aircraft</h3>
                    <label for="aircraftType">Type</label>
                    <input type="text" class="form-control" id="aircraftType" placeholder="XXXXXX">

                    <label for="aircraftReg">Registration</label>
                    <input type="text" class="form-control" id="aircraftReg" placeholder="XXXXXX">
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks & Endorsements</label>
                    <input type="text" class="form-control" id="remarks">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn" (click)="addLogItem()">Add new item</button>
            </div>
        </div>
        
    </div>

</div>