<mat-toolbar>
    <span class="title">LogbookZero</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="returnHome()">Return Home</button>
</mat-toolbar>
<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Add New Document">
        <div class="view">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Add/Update Existing Documents</mat-card-title>
                    <mat-card-subtitle>Documents include Licenses, Ratings, Endorsements, etc.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="form-group">
                    <p class="header">Create New Document</p>
                    <mat-form-field>
                        <input [(ngModel)]="document.DocName" matInput placeholder="Document Name">
                    </mat-form-field>
                    <mat-form-field>
                        <input [(ngModel)]="document.DateIssued" matInput [matDatepicker]="issuedPicker" placeholder="Choose Date Document Was Issued">
                        <mat-datepicker-toggle matSuffix [for]="issuedPicker"></mat-datepicker-toggle>
                        <mat-datepicker #issuedPicker startView="year"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input [(ngModel)]="document.DateExpire" matInput [matDatepicker]="expirePicker" placeholder="Choose Date Document Expires">
                        <mat-datepicker-toggle matSuffix [for]="expirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #expirePicker startView="year"></mat-datepicker>
                    </mat-form-field>
                    <p class="error">{{ errorText }}</p>
                    <button mat-raised-button id="addButton" (click)="addNewDocument()">Add New Document</button>
                </mat-card-content>
            </mat-card>
        </div>

    </mat-tab>
    <mat-tab label="Add New Flight Log">
        <div class="view">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Add New Flight Log</mat-card-title>
                    <mat-card-subtitle>Add Flight Log Manually or Upload an Image of your Logbook Page</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="form-group">
                    <p class="header">Create New Flight Log</p>
                    <div class="input-row">
                        <mat-form-field>
                            <input matInput [matDatepicker]="flightPicker" placeholder="Choose Flight Date">
                            <mat-datepicker-toggle matSuffix [for]="flightPicker"></mat-datepicker-toggle>
                            <mat-datepicker #flightPicker startView="year"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Enter Aircraft Type">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Enter Aircraft Registration">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Choose Aircraft Classification">
                                <mat-option value="single">Single Engine</mat-option>
                                <mat-option value="multi">Multi Engine</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>