<div class="view">
    <div class="sidebar-header">
        <p class="header-name">{{ userInfo.LastName }}, {{ userInfo.FirstName }}</p>
        <p class="header-hours">Total Hours: {{ hours.TotalHours }}</p>
    </div>
    <div class="sidebar-content">
        <div class="card">
            <div class="card-header">
                <p class="section-header">Ratings And Licenses</p>
            </div>
            <div class="card-content">
                <div class="row" style="text-align: center;" *ngFor="let item of docs">
                    <div class="col l6" style="padding: 0;">
                        <p>{{ item.DocName }}</p>
                    </div>
                    <div class="col l6" style="padding: 0;">
                        <p>Expires in 24 days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="recentFlightsCard">
            <div class="card-header">
                <p class="section-header">Recent Flights</p>
            </div>
            <div class="card-content">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let item of flights">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ item.AircraftType }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ item.FlightDate | date: 'MM/dd/yyyy' }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="details">
                            <p style="font-size: 15px">Flight Position: {{ item.Position }}</p>
                            <p style="font-size: 15px">From {{ item.FromCode }} To {{ item.ToCode }}</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">
        <button id="logout" mat-raised-button (click)="logout()">Logout</button>
    </div>
</div>