<div class="view">
    <div class="sidebar-header">
        <p class="header-name">Cameron Stark</p>
        <p class="header-hours">Total Hours: 2323232</p>
        <p class="header-rating">Current Rating: Instrument</p>
    </div>
    <div class="sidebar-content">
        <div class="ratings">
            <p class="section-header">Ratings And Licenses</p>
            <hr>
            <div class="row" style="text-align: center;">
                <div class="col l5" style="padding: 0;">
                    <p>{{ docs[0].DocName }}</p>
                </div>
                <div class="col l7" style="padding: 0;">
                    <p>Expires in 24 days</p>
                </div>
            </div>
        </div>

        <div class="recents">
            <p class="section-header">Recent Flights</p>
            <hr>
            <div class="row" style="text-align: center;">
                <div class="col l5" style="padding: 0;">
                    <p>{{ logbook[0].FlightDate }}</p>
                </div>
                <div class="col l7" style="padding: 0;">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">
        <button id="logout" mat-raised-button (click)="logout()">Logout</button>
    </div>
</div>